/*SLIDE SHOW */
.mySlides h3{
    position: absolute;
    margin-left: 60px;
    margin-right: 60px;
    top:250px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    justify-content: center;
    color:black;
    font-size:65px;
}

.mySlides h5{
    position: absolute;
    margin-left: 60px;
    margin-right: 60px;
    top:350px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    justify-content: center;
    color:gold;
    font-size:30px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 300px;
    width: auto;
    margin-top:0px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} 
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: grey
}






/*ABOUT US*/
.D_text{
    text-align: center;
    color:gold;
    padding:55px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    font-size: 35px;
    text-shadow: 0px 3px 0px lightskyblue,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
}
.brief{
    background-color: black;
    width:100%;
    height:550px;
}
.brief .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.brief .content .box{
    width:525px;
    height:150px;
    margin:20px; 
    border:5px;
    padding:30px;
    border-radius: 5px;
    box-shadow: rgba(247, 243, 11, 0.801) 0px 4px 8px -2px, rgba(230, 226, 7, 0.918) 0px 0px 0px 1px;
    color:black;
}
.history{
    color:gold;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    padding:30px;
}
.Text{
    display:flex;
}
.Text h5{
    color:gold;
    margin:30px;
    font-size: 30px;
    font-family: 'Lora', serif;
    padding:5px;
    text-align: center;
}
.Text img{
    padding-left:0;
    margin-left:50px;
    margin-right:50px;
}
.brief .content .box:hover{
    background-color: blue;
    transition: 1.5s;
}

/*GRID COURSES*/

.Courses{
    background-color: black;
    width:100%;
    display:flex;
    justify-content: center;
    align-self:center;
    min-height:10px;
}
.container_C{
    position: relative;
    max-width:100%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows:minmax(100px,auto);
    margin:40px;
    grid-auto-flow:dense;
    grid-gap:10px;
}

.btn{
    position:absolute;
    margin-top:20%;
    margin-left:200px;
    font-size:25px;
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg,#ec9f05  0%,  #ff4e0074 100%);
    display:inline-block;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 50px;
    letter-spacing: 3px;
    transition: 0.5s;
    display:none;
    

}
.box_C:hover .btn {
    display:block;
    transition: 1s;
}

.container_C .box_C:nth-child(1){
   grid-column:span 2;
   grid-row:span 2;
}

.container_C .box_C:nth-child(2){
    grid-column:span 2;
    grid-row:span 1;
}
.container_C .box_C:nth-child(3){
    grid-column:span 2;
    grid-row:span 1;
}
.container_C .box_C:nth-child(4),:nth-child(5){
    grid-column:span 2;
    grid-row:span 2;
}

/*TUTORS COURSES*/
.tutor{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:400px;
    background:black;
    
}

.tutor-box{
    position: relative;
    width:200px;
    height:300px;
    transform-style: preserve-3d;
    animation:animate 60s linear infinite; 
}

@keyframes animate{
    0%{
        transform:perspective(1500px)rotateY(0deg);
    }

    100%{
        transform:perspective(1500px)rotateY(360deg);
    }
}

.tutor-box span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i)*60deg))translateZ(350px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,black);
}

.tutor-box span img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
   

}
.D_small-text{
    text-align: center;
    color:gold;
    padding-top:105px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    font-size: 35px;
}

.D_register-btn{
    justify-content: center;
    text-align: center;
    background-color: black;
    padding:65px;
}

.D_register-btn Button{
    padding:10px 35px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight:600;
    font-size: 30px;
    background: red;
    cursor: pointer;
    border-radius: 50px;
}

.D_register-btn Button:hover{
    letter-spacing: 6px;
    transition: 1.5s;
}


















/* MEDIA WIDTH */
@media(max-width:1250px){
    .mySlides h3{
        top:180px;
        font-size:65px;
    }
    .mySlides h5{
        top:350px;
        font-size:30px;
    }
    .brief{
        height:1000px;
    }
    .container_C{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    .container_C .boc_C{
        grid-column:unset;
        grid-row:unset;

    }
    .btn{
        position:absolute;
        margin-top:35%;
        margin-left:40%;
        font-size:25px;
        display:none;
    }


}

@media(max-width:880px){
    .prev, .next {
        top: 250px;
    } 
    .mySlides h3{
        top:180px;
        font-size:45px;
    }
    
    .mySlides h5{
        top:300px;
        font-size:30px;
    }
    .btn{
        position:absolute;
        margin-top:30%;
        margin-left:33%;
        font-size:25px;
        display:none;
    }
    .Tutors{
        height:900px;
    }
    .tutor_descrip{
        padding:30px;
    }
    .tutor-box span{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform:rotateY(calc(var(--i)*60deg))translateZ(250px);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,black);
    }

}

@media(max-width:540px){
    .brief .content .box{
        width:300px;
        height:150px;
        margin:20px; 
        border:5px;
        padding:30px;
        border-radius: 5px;
        box-shadow: rgba(247, 243, 11, 0.801) 0px 4px 8px -2px, rgba(230, 226, 7, 0.918) 0px 0px 0px 1px;
        color:black;
    }
    .Tutors{
        height:700px;
    }



    .mySlides h3{
        top:200px;
        font-size:30px;
    }
    
    .mySlides h5{
        top:320px;
        font-size:30px;
    }

    .Text h5{
        font-size: 20px;
        margin:20px;
    }

    .btn{
        position:absolute;
        margin-top:30%;
        margin-left:25%;
        font-size:20px;
        display:none;
    }

    .tutor_descrip{
        font-size:25px;
        padding:15px;
    }
    .tutor-box{
        position: relative;
        width:150px;
        height:200px;
        transform-style: preserve-3d;
        animation:animate 60s linear infinite; 
    }

    .tutor-box span{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform:rotateY(calc(var(--i)*60deg))translateZ(150px);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,black);
    }





}
